@media only screen and (max-width: 1600px) {

.row {
	padding: 0 25px;
}

/*-- Section 1 - Main Page --*/

.promo_slider .slide {
    height: 515px;
    padding-left: 30px;
}

.promo_slider .slide_descript h2 {
    font-size: 37px;
    line-height: 48px;
}

.promo_slider .slide_descript p {
    font-size: 21px;
    line-height: 29px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 4 - Main Page --*/

.thumbs_1_sect .bg_img {
	display: none;
}

/*-- /Section 4 - Main Page --*/

}

@media only screen and (max-width: 1360px) {

	/*-- Section 2 - Main Page --*/

	.catalog_item_2 {
	    width: 156px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 1 - Catalog --*/

	.good_item {
	    width: calc(25% - 30px);
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Card --*/

	.two_cols_3 {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.two_cols_3 > div {
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - Sotrudnichestvo --*/

	.thumb_3 .icon_box {
	    width: 150px;
	    height: 150px;
	    margin: 5px auto 20px auto;
	}

	.thumb_3 .descript p {
		font-size: 19px;
		line-height: 23px;
	}

	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Contacts --*/

	.two_cols_5 > .col_1 {
	    width: 340px;
	    padding-right: 10px;
	}

	.two_cols_5 > .col_2 {
	    width: calc(100% - 340px);
	}

	.info_thumb p {
	    font-size: 19px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Contacts --*/

}

@media only screen and (max-width: 1300px) {

/*-- Section 1 - News --*/

.news_thumb_2 {
    width: calc(50% - 20px);
}

/*-- /Section 1 - News --*/

}

@media only screen and (max-width: 1240px) {

	h2 {
	    font-size: 35px;
	    line-height: 116%;
	}

	.h2_wrapp p {
	    padding: 4px 0;
	    font-size: 20px;
	    line-height: 26px;
	}

	/*-- Header --*/

	.header_top .left {
		width: 60%;
	}

	.header_top .right {
		width: 40%;
	}

	.contacts_item p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.sign_list li a {
	    font-size: 16px;
	    line-height: 20px;
	}

	.header_center {
	    padding: 1px 0;
	}

	.header_center > .col_1 {
	    width: calc(50% - 100px);
	}

	.header_center > .col_2 {
	    width: 200px;
	}

	.header_center > .col_3 {
	    width: calc(50% - 100px);
	}

	.soc_list {
	    margin: 9px -3px;
	}

	.logo {
	    width: 200px;
	}

	.icons_links_wrapp {
	    margin: 2px -5px;
	}

	.icons_links_wrapp > div {
	    padding: 0 5px;
	}

	.main_nav li a {
	    font-size: 15px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Catalog --*/

	.good_item {
	    width: calc(33.33% - 30px);
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Contacts --*/

	.contacts_thumbs_2 {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}

	.contact_thumb_2 {
	    width: calc(50% - 20px);
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Basket --*/

	.basket_templ {
		display: block;
	}

	.basket_templ > .left {
		width: 100%;
		padding: 10px 0;
	}

	.basket_templ > .right {
		width: 100%;
	    max-width: 600px;
	    padding-top: 20px;
	}

	.basket_templ_footer {
	    margin-top: 20px;
	}

	.basket_templ_footer_title {
	    padding: 10px 0;
	}

	/*-- /Section 1 - Basket --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.main_nav li a {
	    font-size: 13px;
	    font-weight: 500;
	}

	.main_nav li a .btn_down {
	    top: 1px;
	    right: -6px;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main Page --*/

	.catalog_wrapp_2 {
		display: block;
	}

	.catalog_wrapp_2 .left {
	    width: 100%;
	    margin: 80px 0 30px 0;
	    padding: 0;
	}

	.catalog_wrapp_2 .right {
	    width: 100%;
	    padding: 0;
	}

	.catalog_thumbns {
		justify-content: center;
		-webkit-justify-content: center;
	}

	.catalog_item_single {
		margin: 0 auto;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.article_descript p {
	    padding: 5px 0;
	    font-size: 14px;
	    line-height: 120%;
	}

	.article_descript ul li {
	    font-size: 14px;
	}

	.article .left {
	    width: calc(100% - 400px);
	}

	.article .right {
	    width: 400px;
	}

	.img_box_1 {
	    width: 215px;
	    height: 480px;
	}

	.img_box_2 {
		width: 230px;
		height: 460px;
	}

	.article .right .slider_2_arrows {
	    bottom: 96px;
	    right: 70px;
	}

	.slider_2 .slide {
	    height: 570px;
	}

	.slider_2 .slide .img_box_2 {
	    right: 10px;
	}

	.article .right .slider_2_arrows {
	    bottom: 80px;
	    right: 20px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Contacts --*/

	.contacts_thumbs {
	    margin: 10px 0;
	}

	.contacts_thumb {
		width: 100%;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Predoplata --*/

	.predoplata_templ > .left {
	    width: 400px;
	    padding-right: 30px;
	}

	.predoplata_templ > .right {
	    width: calc(100% - 400px);
	}

	.num_item > div:nth-child(1) {
	    width: 20px;
	    padding-top: 0;
	}

	.num_item p {
	    font-size: 16px;
	    line-height: 22px;
	}

	p.num {
	    font-size: 16px;
	    line-height: 22px;
	}

	/*-- /Section 1 - Predoplata --*/

}

@media only screen and (max-width: 1024px) {

	h1 {
	    font-size: 39px;
	}

	.h2_wrapp_2 h2 {
	    font-size: 39px;
	    line-height: 44px;
	}

	/*-- Header --*/

	.promo_slider .slide {
	    height: 390px;
	    padding-left: 20px;
	}

	.promo_slider .slide_descript h2 {
	    font-size: 31px;
	    line-height: 46px;
	}

	.promo_slider .slide_descript p {
		padding: 0;
	}

	/*-- /Header --*/

	/*-- Section 4 - Main Page --*/

	.thumb_1 {
	    width: calc(50% - 20px);
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 1 - Catalog --*/

	.catalog_templ .left {
	    width: 280px;
	}

	.catalog_templ .right {
	    width: calc(100% - 280px);
	}

	.sl_inputs > div:nth-child(1) {
	    width: 57px;
	}

	.sl_inputs > div:nth-child(2) {
	    width: calc(100% - 57px);
	}

	.sl_inputs h3 {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Card --*/

	.card_templ {
		display: block;
	}

	.card_templ .left {
		width: 100%;
		max-width: 500px;
	    margin: 10px auto;
	}

	.card_templ .right {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - Card --*/

	.two_cols_4 {
		display: block;
	}

	.two_cols_4 > .col_1,
	.two_cols_4 > .col_2 {
	    width: 100%;
	    padding: 15px 0;
	}

	.table_wrapp {
		max-width: 480px;
	}

	.red_pill_3 {
	    width: 120px;
	    min-width: 120px;
	    padding: 7px 10px;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - News Single --*/

	.textarea_wrapp textarea {
	    height: 114px;
	    padding: 10px;
	    font-size: 18px;
	    line-height: 22px;
	}

	.commetns_form_footer {
	    padding: 10px 10px;
	}

	.checkbox_grey label {
	    font-size: 16px;
	    line-height: 22px;
	}

	.inlines p {
	    font-size: 16px;
	    line-height: 22px;
	}

	.blue_link {
	    font-size: 16px;
	    line-height: 22px;
	}

	.brovn_pill {
	    padding: 5px 10px;
	    font-size: 18px;
	    line-height: 25px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - Delivery --*/

	.h1_wrapp p,
	.h1_wrapp p a {
	    font-size: 18px;
	    line-height: 24px;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 1 - Predoplata --*/

	.form_wrapp {
		margin: 14px auto;
	    padding: 14px 25px 5px 25px;
	}

	.red_pill_sub {
	    min-width: 124px;
	    font-size: 16px;
	    line-height: 17px;
	}

	/*-- /Section 1 - Predoplata --*/

	/*-- Footer --*/

	.footer_cols {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}

	.footer_cols .col:nth-child(1) {
	    width: 50%;
	    padding: 10px 10px;
	    order: 1;
	}

	.footer_cols .col:nth-child(2) {
	    width: 50%;
	    padding: 10px 10px;
	    order: 2;
	}

	.footer_cols .col:nth-child(3) {
	    width: 100%;
	    padding: 10px 0;
	    order: 3;
	    text-align: center;
	}

	.logo_2 {
		display: none;
	}

	.logo_2.logo_resp {
	    display: block;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 900px) {

	/*-- Header --*/

	.header_center > .col_1 {
		display: none;
	}

	.header_center > .col_2 {
	    width: 150px;
	   	padding: 4px 0;
	}

	.header_center > .col_3 {
	    width: calc(100% - 150px);
	}

	.logo {
	    width: 150px;
	}

	.header_top_wrapp {
		display: none;
	}

	.header_center_wrapp {
		position: relative;
		padding-right: 46px;
	}

	.respmenubtn {
		display: block;
	}

	.header_center_wrapp .respmenubtn {
		position: absolute;
	    top: 12px;
	    right: 18px;
	}

	.icon_link {
	    width: 40px;
	    height: 40px;
	}

	.count_goods {
	    width: 20px;
	    height: 20px;
	    font-size: 12px;
	    line-height: 20px;
	}

	.main_nav_wrapp:after {
		display: none;
	}

	#resp_nav {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding: 60px 25px 50px 25px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 13;
		background-color: #fff;
	}

	.main_nav {
		display: block;
	}

	.main_nav li {
	    padding: 13px 0;
	    line-height: 1;
	}

	.main_nav li a {
	    font-size: 18px;
	}

	.btn_down {
	    width: 14px;
	    height: 14px;
	}

	.main_nav li a .btn_down {
	    top: 5px;
	    right: -18px;
	    cursor: pointer;
	}

	.main_nav li:hover a {
	    color: #000;;
	}

	.main_nav li a:hover {
	    color: #EA030C;
	}

	.main_nav li .catalog_wrapp {
		display: none;
		max-width: 100%;
	    opacity: 1;
	    width: 100%;
	    position: relative;
	    top: 0;
	    left: 0;
	}

	.main_nav li:hover a.active,
	.main_nav li a.active:hover {
	    color: #EA030C;
	}

	.sign_list.black {
		display: flex;
		display: -webkit-flex;
	    justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	}

	.sign_list.black li a {
	    color: #000;
	}

	.sign_list.black li a:hover,
	.sign_list.black li a:active {
	    color: #EA030C;
	}

	.sign_list.black li:after {
		color: #000;
	}

	/*-- /Header --*/

	/*-- Section 3 - Main Page --*/

	.sect_2 {
	    padding: 10px 0;
	}

	.article {
		display: block;
	}

	.article:before {
		display: none;
	}

	.article .left {
	    width: 100%;
	    padding: 10px 0;
	}

	.article .right {
	    width: 100%;
	    padding: 10px 0;
	}

	.article_descript {
	    max-width: 100%;
	}

	.slider_2 {
		width: 100%;
	    max-width: 390px;
	    position: relative;
	    left: 0;
	    margin: 0 auto;
	}

	.slider_2 .slide .img_box_2 {
	    right: 0;
	}

	.article .right .slider_2_arrows {
	    right: 5px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Catalog --*/

	.catalog_templ {
		display: block;
		margin: 10px 0;
	}

	.catalog_templ .left {
	    width: 100%;
	    padding-right: 0;
	}

	.catalog_templ .right {
	    width: 100%;
	    padding: 15px 0 0 0;
	}

	.filters_btn {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		width: 100%;
		padding: 10px 10px;
		cursor: pointer;
		font-size: 24px;
		line-height: 26px;
		color: #fff;
		border: none;
	    -webkit-transition-property: box-shadow;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: box-shadow;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: box-shadow;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: box-shadow;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: box-shadow;
	    transition-duration: .3s;
	    transition-timing-function: ease;
	}

	.filters_btn:hover {
	    -webkit-box-shadow: 0 2px 5px 0 rgba(234,3,12,.5);
	    -moz-box-shadow: 0 2px 5px 0 rgba(234,3,12,.5);
	    box-shadow: 0 2px 5px 0 rgba(234,3,12,.5);
	}

	#catalogSidebar {
		display: none;
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - News Single --*/

	.article_2 img {
		display: none;
	}

	.article_2 p {
	    padding: 10px 0;
	    font-size: 16px;
	    line-height: 27px;
	}

	.article_2 h3 {
	    padding: 10px 0;
	    font-size: 16px;
	    line-height: 27px;
	}

	.article_2 h4 {
	    padding: 10px 0;
	    font-size: 16px;
	    line-height: 27px;
	}

	.article_2 ul {
	    padding: 10px 0;
	}

	.article_2 ul li {
	    font-size: 16px;
	    line-height: 27px;
	}

	.article_2 ol {
	    padding: 10px 0;
	}

	.article_2 ol li {
	    text-indent: 25px;
	    font-size: 16px;
	    line-height: 27px;
	}

	.article_2 ol li:before {
	    top: 14px;
	    left: 14px;
	}

	.black_box p {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - News Single --*/

	.commetns_form_footer {
		display: block;
	}

	.commetns_form_footer > div:nth-child(1),
	.commetns_form_footer > div:nth-child(2) {
	    width: 100%;
	    padding: 2px 0;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - Delivery --*/

	.delivery_thumbs {
		display: block;
		margin: 10px 0;
	}

	.delivery_thumb {
	    width: 100%;
	    margin: 10px 0;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 1 - Sotrudnichestvo --*/

	.thumb_3 .icon_box {
	    width: 120px;
	    height: 120px;
	}

	.thumb_3 .descript p {
	    font-size: 15px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Remont --*/

	.info_box_3 p {
	    font-size: 16px;
	    line-height: 25px;
	}

	.rem_thumb .img_box {
	    height: 250px;
	    margin: 25px 0;
	}

	.rem_thumb h3 {
	    font-size: 20px;
	    line-height: 27px;
	}

	.rem_thumb p {
	    font-size: 16px;
	    line-height: 25px;
	}

	/*-- /Section 1 - Remont --*/

	/*-- Section 1 - Contacts --*/

	.two_cols_5 {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	    margin: 33px 0;
	}

	.two_cols_5 > .col_1 {
	    width: 100%;
	    padding-right: 0;
	}

	.two_cols_5 > .col_2 {
	    width: 100%;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Predoplata --*/

	.predoplata_templ {
		display: block;
	    margin: 20px 0;
	}

	.predoplata_templ > .left {
	    width: 100%;
	    padding-right: 0;
	}

	.predoplata_templ > .right {
	    width: 100%;
	}

	/*-- /Section 1 - Predoplata --*/

	/*- Section 1 - Basket --*/

	.basket_table .table_row .cell:nth-child(2) {
	    width: 16%;
	}

	.basket_table .table_row .cell:nth-child(4) {
	    width: 21%;
	    padding-left: 5%;
	}

	.basket_table .table_row .cell:nth-child(5) {
	    width: 23%;
	    padding-left: 2%;
	}

	/*- .Section 1 - Basket --*/

	/*-- Section 1 - Comparison --*/

	.comparison_table .goods_row .cell:nth-child(1) {
	    width: 176px;
	}

	.comparison_table .table_row .cell:nth-child(1) {
	    width: 176px;
	}

	.comparison_table .table_row h3 {
	    font-size: 15px;
	    line-height: 29px;
	}

	.comparison_table .table_row p {
	    font-size: 16px;
	    line-height: 29px;
	}

	/*-- /Section 1 - Comparison --*/

	/*-- Section 1 - Politic --*/

	.politic_article h3 {
	    padding: 22px 0 1px;
	    font-size: 21px;
	}

	.politic_article p {
	    font-size: 16px;
	}

	.politic_article ul li {
	    font-size: 16px;
	}

	/*-- /Section 1 - Politic --*/

}

@media only screen and (max-width: 830px) {

	/*-- Section 1 - News --*/

	.news_thumbs {
	    margin: 0;
	}

	.news_thumb_2 {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 1 - News --*/

	/*-- Section 1 - Remont --*/

	.rem_thumbs {
		display: block;
	    margin: 0;
	}

	.rem_thumb {
	    width: 100%;
	    margin: 10px 0;
	}

	/*-- /Section 1 - Remont --*/

}

@media only screen and (max-width: 767px) {

	.wrapper {
		padding-top: 69px;
	}

	h1 {
	    font-size: 30px;
	}

	h2 {
	    font-size: 28px;
	    line-height: 116%;
	}

	.h1_wrapp {
	    padding: 20px 0;
	}

	.h1_wrapp h3 {
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- Header --*/

	.header_site {
		width: 100%;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6;
		-webkit-box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
		box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
	}

	.catalog_wrapp  .catalog_item {
	    width: 112px;
	    min-height: 125px;
	    padding: 0 3px 5px 3px;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main Page --*/

	.catalog_item_2 {
	    width: 126px;
	}

	.catalog_item_2 .catalog_item_descript p {
	    font-size: 12px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.thumb_1 {
		padding: 25px 20px 10px 20px;
	}

	.thumb_1 h3 {
	    font-size: 19px;
	    line-height: 116%;
	}

	.thumb_1 p {
	    font-size: 14px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.sect_5 .bg_img_2 {
		display: none;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 1 - News Single --*/

	.comment_item_title p {
	    font-size: 17px;
	    line-height: 21px;
	}

	.comment_text p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.links_p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.comment_item > div:nth-child(1) {
	    width: 60px;
	}

	.comment_item > div:nth-child(2) {
	    width: calc(100% - 60px);
	}

	.comment_item_wrapp:nth-child(1) {
	    padding-left: 45px;
	}

	.comment_item .img_box {
	    width: 50px;
	    height: 50px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - Delivery --*/

	.delivery_thumb {
		padding: 20px 20px 12px 20px;
	}

	.delivery_thumb h3 {
	    font-size: 21px;
	    line-height: 26px;
	}

	.delivery_thumb p {
	    padding: 5px 0;
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 2 - Delivery --*/

	.map_thumbs {
		margin: 0;
	}

	.map_thumb {
	    width: 100%;
	    margin: 12px 0;
	}

	.map_thumb p {
	    padding: 4px 0;
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 2 - Delivery --*/

	/*-- /Section 1 - Sotrudnichestvo --*/

	.info_box_2 p {
	    padding: 10px 0;
	    font-size: 18px;
	    line-height: 23px;
	}

	.info_box_2 p a {
	    font-size: 18px;
	    line-height: 23px;
	}

	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Remont --*/

	.info_box_3 p {
	    font-size: 14px;
	    line-height: 22px;
	}

	.rem_thumb p {
	    font-size: 14px;
	    line-height: 22px;
	}

	/*-- /Section 1 - Remont --*/

	/*-- Section 1 - Contacts --*/

	.h2_wrapp_2 h2 {
	    font-size: 35px;
	    line-height: 41px;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Basket --*/

	.basket_templ_footer_row p {
	    font-size: 19px;
	    line-height: 29px;
	}

	.radio {
	    margin: 0;
	}

	.radio label {
	    font-size: 16px;
	    line-height: 20px;
	}

	.table_2 p {
		padding-left: 30px;
	    font-size: 16px;
	    line-height: 20px;
	    font-weight: 500;
	    padding-top: 5px;
	}

	/*-- /Section 1 - Basket --*/

}

@media only screen and (max-width: 700px) {
	/*-- Section 1 - Sotrudnichestvo --*/

	.thumbs_3 {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.thumb_3 {
	    width: calc(50% - 20px);
	}

	.thumb_3 .icon_box {
	    width: 90px;
	    height: 90px;
	}

	.thumb_3 .icon_box img {
	    max-width: 70%;
	    max-height: 70%;
	}

	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Contacts --*/

	.contacts_thumb {
		margin: 10px 0;
	}

	.contacts_thumb h3 {
	    font-size: 16px;
	    line-height: 22px;
	}

	.contacts_thumb p {
	    font-size: 16px;
	    line-height: 23px;
	}

	/*-- /Section 1 - Contacts --*/
}

@media only screen and (max-width: 650px) {

	/*-- Section 1 - Basket --*/

	.basket_table .table_row {
	    display: flex;
	    display: -webkit-flex;
	    align-items: flex-start;
	    -webkit-align-items: flex-start;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}

	.basket_table .table_header {
		display: none;
	}

	.basket_table .resp_ttile {
		display: block;
		font-weight: 500;
		padding-bottom: 3px;
	}

	.basket_table .table_row .cell {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.basket_table .table_row .cell:nth-child(1) {
	    width: 50%;
	}

	.basket_table .table_row .cell:nth-child(2) {
	    width: 25%;
	}

	.basket_table .table_row .cell:nth-child(3) {
	    width: 25%;
	    text-align: right;
	}

	.basket_table .table_row .cell:nth-child(4) {
	    width: 50%;
	    padding-left: 0;
	}

	.basket_table .table_row .cell:nth-child(5) {
	    width: 50%;
	    padding-left: 0;
	    text-align: right;
	}

	/*-- /Section 1 - Basket --*/

}

@media only screen and (max-width: 600px) {

	h2 {
	    font-size: 23px;
	    line-height: 116%;
	}

	.h2_wrapp p {
	    font-size: 17px;
	    line-height: 23px;
	}

	.h2_wrapp_2 h2 {
	    font-size: 28px;
	    line-height: 34px;
	}

	/*-- Header --*/

	.catalog_wrapp .catalog_item {
	    width: calc(33.33% - 8px);
	    padding: 0 3px 5px 3px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_slider .slide {
	    height: 288px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.promo_slider .slide_descript h2 {
	    font-size: 26px;
	    line-height: 37px;
	    font-weight: 500;
	}

	.promo_slider .slide_descript p {
	    font-size: 18px;
	    line-height: 26px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.catalog_wrapp_2 .left {
	    margin: 30px 0;
	}

	.catalog_item_single {
	    width: 260px;
	    height: 260px;
	}

	.catalog_item_single .description h3 {
	    font-size: 19px;
	}

	.catalog_item_single .img_box img {
	    max-width: 100%;
	    max-height: 100%;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.sect_4 {
	    padding: 20px 0;
	}

	.thumbs_1_wrapp {
	    margin: 0;
	}
	
	.thumb_1 {
		width: 100%;
		min-height: 150px;
		margin: 8px 0;
	}  

	/*-- /Section 4 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.slider_news_wrapp {
		margin-top: 0;
	}

	.news_thumb {
	    max-width: 100%;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 1 - Catalog --*/

	.fiters_sect {
		display: block;
		padding: 3px 17px 5px 25px;
	}

	.fiters_sect > .col_1,
	.fiters_sect > .col_2 {
	    width: 100%;
	    padding: 0;
	}

	.fiters_sect > .col_2 {
	    justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	}

	.custom_select_dropdown {
	    left: 0;
	}

	.good_item {
	    width: calc(50% - 30px);
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Card --*/

	.card_slider {
		display: block;
	}

	.card_slider .col_1 {
	    width: 100%;
	}

	.card_slider .col_2 {
	    width: 100%;
	}

	.big_slider {
	    height: 300px;
	}

	.big_slider .slide .img_box {
	    height: 300px;
	}

	.miniature_slider_wrapp {
	    height: auto;
	    padding: 0;
	}

	.miniature_slider_wrapp .top_btn {
	    left: 15px;
	}

	.miniature_slider_wrapp .down_btn {
	    left: 15px;
	}

	.miniature_slider {
	    height: auto;
	    width: calc(100% - 150px);
	    margin-left: 73px;
	}

	.miniature_slider .slide {
	    width: 76px;
	    padding: 2px 2px;
	}

	.sl_btn {
	    background: rgba(172, 144, 120, .5);
	}

	.miniature_slider_wrapp .top_btn {
		top: 2px;
	    left: 0;
	  	transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	}

	.miniature_slider_wrapp .down_btn {
		left: auto;
		right: 0;
		top: 2px;
	    transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - News Single --*/

	.black_box .social_list_2 {
	    margin: 0 -6px;
	}

	.social_list_2 li {
	    padding: 6px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - News Single --*/

	.commetns_form_wrapp {
		display: block;
	}

	.commetns_form_wrapp .col_2 {
	    width: 100%;
	    padding: 10px 0;
	}

	.commetns_form_footer .checkbox {
	    margin: 3px 0;
	}

	.textarea_wrapp textarea {
	    height: 100px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - Contacts --*/

	.contacts_thumb {
		display: block;
	    min-height: auto;
	}

	.contacts_thumb > div:nth-child(1) {
	    width: 100%;
	    height: 229px;
	}

	.contacts_thumb > div:nth-child(2) {
	    width: 100%;
	    padding: 12px 10px;
	}

	.info_thumb p {
		padding: 5px 0;
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Basket --*/

	.basket_templ {
	    margin: 20px 0 0 0;
	}

	.basket_templ_footer_title h3 {
	    font-size: 21px;
	    line-height: 28px;
	}

	.basket_templ_footer_row > div:nth-child(1) {
	    width: 100%;
	    padding: 5px 10px 5px 15px;
	}

	.basket_templ_footer_row > div:nth-child(2) {
	    width: 100%;
	    padding: 5px 20px;
	    text-align: left;
	}

	/*-- /Section 1 - Basket --*/

	/*-- Footer --*/

	.footer_cols .col:nth-child(1) {
	    width: 100%;
	    padding: 10px 0;
	    text-align: center;
	}

	.footer_cols .col:nth-child(2) {
	    width: 100%;
	    padding: 10px 0;
	    text-align: center;
	}

	.social_list_2 {
	    justify-content: center;
	    -webkit-justify-content: center;
	    margin: 15px -9px;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 480px) {

	.row {
	    padding: 0 15px;
	}

	.wrapper {
		padding-top: 53px;
	}

	.h1_wrapp h3 {
	    font-size: 15px;
	    line-height: 20px;
	}

	/*-- Header --*/

	.header_center > .col_2 {
	    width: 100px;
	}

	.header_center > .col_3 {
	    width: calc(100% - 100px);
	    padding: 3px 0 3px 10px;
	}

	.icons_links_wrapp {
	    margin: 2px -1px;
	}

	.icons_links_wrapp > div {
	    padding: 0 1px;
	}

	.header_center_wrapp .respmenubtn {
	    top: 4px;
	    right: 6px;
	}

	.logo {
	    width: 100px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_slider .slide_descript h2 {
	    font-size: 20px;
	    line-height: 28px;
	}

	.promo_slider .slide_descript h2 {
	    font-size: 20px;
	    line-height: 28px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.article .right .slider_2_arrows {
	    bottom: 40px;
	    right: 30px;
	}

	.slider_2 .slide {
	    height: 340px;
	}

	.img_box_1 {
	    width: 50%;
	    height: 325px;
	}

	.img_box_2 {
	    width: 50%;
	    height: 303px;
	}

	.slider_2 .slide .img_box_2 {
	    top: 28px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Card --*/

	.sl_btn {
		width: 50px;
		height: 50px;
	}

	.miniature_slider {
	    height: auto;
	    width: calc(100% - 100px);
	    margin-left: 50px;
	}

	.miniature_slider .slide .img_box {
		width: 50px;
		height: 50px;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - Card --*/

	.table .table_row {
		display: block;
		padding: 2px 0;
	}

	.table .table_row .cell:nth-child(1),
	.table .table_row .cell:nth-child(2) {
	    width: 100%;
	    padding: 3px 0;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - News Single --*/

	.checkbox_grey label {
	    font-size: 14px;
	    line-height: 20px;
	}

	.inlines p {
	    font-size: 14px;
	    line-height: 20px;
	}

	.blue_link {
	    font-size: 14px;
	    line-height: 20px;
	}

	.brovn_pill {
	    padding: 5px 10px;
	    font-size: 16px;
	    line-height: 23px;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 2 - News Single --*/

	.comment_item_wrapp:nth-child(1) {
	    padding-left: 20px;
	}

	.comment_item_wrapp .comment_item_wrapp {
	    padding-left: 30px;
	}

	.comment_text p {
	    font-size: 13px;
	    line-height: 18px;
	}

	.comment_item_title p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.links_p {
	    font-size: 12px;
	    line-height: 16px;
	}

	.comment_item .blue_link {
	    font-size: 12px;
	    line-height: 16px;
	}

	/*-- /Section 2 - News Single --*/

	/*-- /Section 1 - Sotrudnichestvo --*/

	.info_box_2 p {
	    font-size: 16px;
	    line-height: 20px;
	}

	.info_box_2 p a {
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Contacts --*/

	.contacts_thumbs_2 {
	    margin: 0;
	}

	.contact_thumb_2 {
	    width: 100%;
	    margin: 10px 0;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Predoplata --*/

	.form_wrapp {
	    padding: 14px 15px 5px 15px;
	}

	.form_title h3 {
	    font-size: 20px;
	    line-height: 27px;
	}

	.form_footer {
		display: block;
	}

	.form_footer .col:nth-child(1) {
	    width: 100%;
	    padding: 5px 0;
	}

	.form_footer .col:nth-child(2) {
		width: 100%;
	    padding: 5px 0;
	}

	.input_two_cols .input_wrapp:nth-child(odd) {
	    width: 100%;
	    margin: 4px 0;
	}

	.input_two_cols .input_wrapp:nth-child(even) {
	    width: 100%;
	    margin: 4px 0;
	}

	/*-- /Section 1 - Predoplata --*/

	/*-- Section 1 - Politic --*/

	.h1_wrapp_resp h1 {
	    font-size: 19px;
	}

	/*-- /Section 1 - Politic --*/

}

@media only screen and (max-width: 470px) {

	/*-- Section 1 - News --*/

	.news_thumb_2 {
		display: block;
		border-bottom: 1px solid #ededed;
		margin: 10px 0;
		padding-bottom: 15px;
	}

	.news_thumb_2 .col_2 {
	    width: 100%;
	    padding-top: 20px;
	}

	.thumb_title {
	    min-height: 0;
	    padding: 4px 0;
	}

	.news_thumb_2 .descript {
	    min-height: 0;
	    padding-bottom: 10px;
	}

	.pagination li a {
	    min-width: 37px;
	}

	/*-- /Section 1 - News --*/

}

@media only screen and (max-width: 440px) {

	h1 {
	    font-size: 26px;
	}

	/*-- Section 1 - Catalog --*/

	.goods_catalog {
	    margin: 3px 0 5px 0;
	}

	.good_item {
	    width: 100%;
	    max-width: 320px;
	    margin: 10px auto;
	}

	/*-- /Section 1 - Catalog --*/

	/*-- Section 1 - Card --*/

	.price_inline {
		display: block;
	    margin: 0;
	}

	.price_inline > div {
	    padding: 5px 0;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - News Single --*/

	.commetns_form_footer > div:nth-child(2) {
		display: block;
	}

	.inlines {
		display: block;
	    margin: 0;
	}

	.inlines > div {
		width: 100%;
		padding: 2px 0;
	}

	/*-- /Section 1 - News Single --*/

	/*-- Section 1 - Basket --*/

	.basket_table .table_row .cell:nth-child(1) {
	    width: 60%;
	}

	.basket_table .table_row .cell:nth-child(2) {
	    width: 40%;
	    text-align: right;
	}

	.basket_table .table_row .cell:nth-child(3) {
	    width: 35%;
	    text-align: left;
	}

	.basket_table .table_row .cell:nth-child(4) {
	    width: 32%;
	    padding-left: 0;
	}

	.basket_table .table_row .cell:nth-child(5) {
	    width: 33%;
	}

	.table_2 .table_row {
		display: block;
		padding: 5px 0;
		border-bottom: 1px solid #d8d8d8;
	}

	.table_2 .table_row .cell:nth-child(1) {
	    width: 100%;
	    padding-right: 0;
	}

	.table_2 .table_row .cell:nth-child(2) {
	    width: 100%;
	    padding-left: 0;
	    text-align: left;
	}

	/*-- Section 1 - Basket --*/

	/*-- Section 1 - Politic --*/

	.politic_article h3:nth-child(1) {
	    padding-top: 10px;
	}

	.politic_article h3 {
	    font-size: 17px;
	}

	.politic_article p {
		text-indent: 16px;
	    font-size: 14px;
	}

	.politic_article ul li ul li {
	    text-indent: 16px;
	}

	.politic_article ul li ul {
	    padding-left: 16px;
	}

	.politic_article ul li {
		text-indent: 16px;
	    font-size: 14px;
	}

	/*-- /Section 1 - Politic --*/

}

@media only screen and (max-width: 400px) {

	.h2_wrapp_2 h2 {
	    font-size: 26px;
	    line-height: 34px;
	}

	/*-- Header --*/

	.catalog_wrapp .catalog_item {
	    width: calc(50% - 8px);
	}

	/*-- /Header --*/

	/*-- Section 3 - Main Page --*/

	.article_descript {
	    padding: 20px 18px;
	}

	.article .right .slider_2_arrows {
	    bottom: 40px;
	    right: 8px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Card --*/

	.item_cols {
		display: block;
	}

	.item_cols > div:nth-child(1),
	.item_cols > div:nth-child(2) {
		width: 100%;
	    padding: 0;
	}

	.social_list_2.social_list_3 {
		justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	    margin: 5px -6px;
	}

	/*-- /Section 1 - Card --*/

	/*-- Section 1 - Sotrudnichestvo --*/
	.thumb_3 {
	    width: 100%;
	    margin: 10px 0;
	}
	/*-- /Section 1 - Sotrudnichestvo --*/

	/*-- Section 1 - Basket --*/

	.basket_table p.price {
	    font-size: 16px;
	}

	/*-- /Section 1 - Basket --*/

}

@media only screen and (min-width: 901px) {
	#resp_nav {
		display: block !important;
	}
	.main_nav li:hover .catalog_wrapp,
	.main_nav li:hover .catalog_wrapp:hover {
	    height: auto !important;
	    left: 0 !important;
	    opacity: 1 !important;
	}
	.catalog_wrapp {
	    display: flex !important;
	    display: -webkit-flex !important;
	    flex-wrap: wrap !important;
	    -webkit-flex-wrap: wrap !important;
	}
}